body {
 background-image: url('cloud.jpg');
 background-size: cover;
  }
  .container {
    margin-top: 2rem;
    max-width: 25rem;
    background: radial-gradient(
      circle,
      rgba(63, 94, 251, 1) 0%,
      rgba(252, 70, 107, 1) 100%
    );
    border-radius: 10px;
    box-shadow: 1px 2px 10px #ccc;
  }
  #weatherwidget {
    min-height: 18rem;
    background: #fff;
    border-radius: 5px;
  }
  .card {
    width: 100%;
  }
  .card .card-subtitle {
    font-size: 4rem;
  }
  .card .cel:after {
    content: "°C";
    position: absolute;
    font-size: 2.5rem;
    margin-top: 0.3rem;
    font-weight: 400;
  }
  .card .far:after {
    content: "°F";
    position: absolute;
    font-size: 2.5rem;
    margin-top: 0.3rem;
    font-weight: 400;
  }
  .units a {
    color: #666;
    text-decoration: none;
  }
  .units a.active {
    color: #ccc;
  }
  
