*{
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
}

.news{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    height: 14rem;
                    background: #1eb2ab;
                    justify-content: center;
                    align-items: center;

}

.news div{
                    width: 400px;


}
.news div:nth-child(1)
{
                    margin-left: -5rem;
}
.news div h2{
                    font-size: 30px;
                    color: #fff;
                    font-weight: 800;
}
.news div p{
                    font-size: 16px;
                    color: #fff;
}


.news div:nth-child(2)
{
                    margin-left: 6rem;

}
.news div input{
                    width: 500px;
                    height: 40px;
                    background: #fff;
                    border: 2px solid #1eb2ab;
}

