* {
  margin: 0;
  padding: 0;
}



:root {
  /* color for main nav */
  --bg-light-green: #D07CA4;

  /* color for (description and image (tittled)) nav. */
  --bg-green-yellow: #D07CA4;

  /* color for border */
  --b-dark-yellow: #C12B72;

  /* color for new wrapper div */
  --b-light-yellow: #fff;
}

.nav-bar {
  width: 100%;
  height: 60px;
  justify-content: center;
  background-color: var(--bg-light-green);
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  border-bottom: solid 2px #D07CA4;
  color: white;
}

.d-flex {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.students {
  display: flex;
  gap: 10px;
  height: auto;
  width: 100%;
  background-color: #FEE9E5;
}

.enroll-student {
  margin-top: 30px;
  padding-right: 100px;
  box-sizing: border-box;
  width: 45%;
  height: auto;
}

#enrolled-students {
  margin-top: 25px;
  margin-bottom: 15px;
  justify-content: center;
  width: 55%;
  height: calc(100vh - 70px);
  overflow: scroll;
}

.enroll-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gender {
  padding-left: 15px;
}

.label {
  display: flex;
  font-size: 30px;
}

.form-control {
  margin-bottom: 16px;
}

.seperation-border {
  box-sizing: border-box;
  box-shadow: 0px 0px 3px 0px var(--bg-light-green);
  width: 1.3px;
  height: 70vh;
  background: var(--bg-light-green);
}

@media screen and (max-width: 768px) {
  hr.seperation-border{
    height: 0;
  }
}

.sectionHeading {
  display: flex;
  align-items: center;
  background-color: var(--bg-green-yellow);
  color: #fff;
  box-sizing: border-box;
  border: solid 2px var(--b-dark-yellow);
}

.sectionHeading > p {
  padding: 10px 12px;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.description {
  box-sizing: border-box;
  border-right: solid 2px var(--b-dark-yellow);
  margin-bottom: 0;
  width: 70%;
}

.Image {
  margin-bottom: 0;
  width: 30%;
}

.infoText {
  margin: 0;
  padding: 0;
}

.userName {
  font-weight: bold;
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: 130px;
  justify-content: space-between;
  border: solid 2px var(--b-dark-yellow);
  border-top: none;
  animation: fadeIn 2s;
  position: relative;
}

.userDeleteBtn {
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  background-color: transparent;
  font-size: 25px;
  transform: rotate(45deg);
  display: none;
}

@media screen and (max-width: 768px) {
  button.userDeleteBtn {
    display:block;
  }

}

.wrapper:hover .userDeleteBtn {
  display: block;
}

.wrapper:nth-child(odd) {
  background-color: #fff;
}
.wrapper:nth-child(even) {
  background-color: var(--b-light-yellow);
}

.textInfoContainer {
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  border-right: solid 2px var(--b-dark-yellow);
  padding: 10px;
}

.imageContainer {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.userImage {
  height: auto;
  width: 105px;
}

.fadeIn {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
