html {
    background-color: #ad9595;
    height: 100%;
    font-family: Poppins, sans-serif;
}

h1 {
    color: white;
    text-shadow: #a26202 0px 0px 10px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    text-align: center;
}

#container {
    height: 200px;
    width: 700px;
    background-color: #F5E4C3;
    margin: 0 auto;
    border: 2px solid #a26202;
    border-radius: 15px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/*timers*/
.label {
    color: #000000;
    align-self: center;
    justify-self: center;
    margin: 0%;
    font-size: 30px;
    font-weight: 600;
}

#work {
    grid-area: 1 / 2 / 1 / 2;
}
#break {
    grid-area: 1 / 4 / 1 / 4;
}
#cycles {
    grid-area: 1 / 3 / 1 / 3;
}

.timer {
    display: flex;
    align-self: center;
    justify-self: center;

    font-size: 30px;
    font-weight: 500;
}

p {
    margin: 0;
    padding: 0;
}

#counter {
    grid-area: 2 / 3 / 2 / 3;
    color: red;
}

#work-timer {
    grid-area: 2 / 2 / 2 / 2;
}

#break-timer {
    grid-area: 2 / 4 / 2 / 4;
}

/*buttons*/

.btn {
    align-self: center;
    justify-self: center;
    font-family: poppins, sans-serif;
    font-weight: 300;
    background-color: #a26202;
    border: 2px solid #a26202;
    border-radius: 5px;
    color: aliceblue;

    width: 100px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.btn:active {
    background-color: aliceblue;
    border: 2px solid #71706e;
    color: #71706e;
}
/* hover button */
.btn:hover {
    background-color: aliceblue;
    border: 2px solid aliceblue;
    color: #a26202;
}


#start {
    grid-area: 3 / 2 / 3 / 2;
}

#reset {
    grid-area: 3 / 3 / 3 / 3;
}

#stop {
    grid-area: 3 / 4 / 3 / 4;
}