html {
    background-color: #ad9595;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#container {
    height: 200px;
    width: 700px;
    background-color: #F5E4C3;
    margin: 0 auto;
    border: 5px solid #1b300b;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/*timers*/
.label {
    align-self: center;
    justify-self: center;

    font-size: 30px;
    font-weight: bold;
}

#work {
    grid-area: 1 / 2 / 1 / 2;
}
#break {
    grid-area: 1 / 4 / 1 / 4;
}
#cycles {
    grid-area: 1 / 3 / 1 / 3;
}

.timer {
    display: flex;
    align-self: center;
    justify-self: center;

    font-size: 30px;
    font-weight: bold;
}

p {
    margin: 0;
    padding: 0;
}

#counter {
    grid-area: 2 / 3 / 2 / 3;
    color: red;
}

#work-timer {
    grid-area: 2 / 2 / 2 / 2;
}

#break-timer {
    grid-area: 2 / 4 / 2 / 4;
}

/*buttons*/

.btn {
    align-self: center;
    justify-self: center;

    width: 100px;
    height: 30px;

    font-size: 20px;
}

#start {
    grid-area: 3 / 2 / 3 / 2;
}

#reset {
    grid-area: 3 / 3 / 3 / 3;
}

#stop {
    grid-area: 3 / 4 / 3 / 4;
}