
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Roboto+Mono:ital@1&display=swap');


body {
    font-family: 'Comfortaa', cursive;
    background-color: rgb(247, 227, 189);
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    height: 10vh;
    width: 80%;
    display:flex;
    padding:1rem 1rem;
    margin:1rem;

}

#output {
    border: 1px solid black;
    height: 10vh;
    width:80%;
    margin: 1rem;
    padding: 1rem;
}

.btn-container{
    width:80%;
    display: flex;
    justify-content: center;

}

#btn-translate{
    width:40%;
    margin: 2rem 1rem;
    padding: 1rem;
    height:auto;
    background : #f5e050;
    border:none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
}

h1{
    margin:inherit;
    background-color:orange;
    text-align:center;
    /* margin-top: 1rem; */
    padding: 1rem;
    width: 100%;
}

h3{
    margin: inherit;
    background-color: orange;
    text-align:center; 
    padding: 1rem;
    margin-top: 7rem;
}

footer{
    width:100%;
}